.gradle
.idea
build
account-service/build
account-service/build.gradle

bill-service/build
bill-service/build.gradle

config-service/build
config-service/build.gradle

deposit-service/build
deposit-service/build.gradle

notification-service/build
notification-service/build.gradle

gateway/build
gateway/build.gradle

registry/build
registry/build.gradle